[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "~=1.1.0"
requests = "~=2.24.0"
pytz = "~=2020.1"
numpy = "~=1.19.0"
Pillow = "~=9.0.0"

[requires]
python_version = "3.8"
